.noise {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 120vh;
  z-index: -2;
  position: fixed !important;
}

* {
  backface-visibility: hidden;
}

h3 {
  color: #ffffffa8;
  margin: 0 0 20px 0;
  font-size: 22px;
  line-height: 1;
}

p {
  color: #fff;
  margin: 40px 0;
  font-size: 0.9rem;
  line-height: 1.8;
}

p.lead {
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 4rem !important;
  font-size: 18px;
  margin: 0;
  color: #fff;
  background: transparent;
  border: 3px solid white;
  padding: 0 10px;
}

.percent {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  height: 3rem;
  width: 3px;
  margin: -20px 0 0 40px;
  z-index: 11;
}

.fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: background 0.15s ease;
}

html {
  line-height: 1.15;
  text-size-adjust: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  scroll-behavior: smooth;
}

html input[type=button] {
  cursor: pointer;
  border-radius: 0px;
}

html input[disabled] {
  cursor: default;
}

body {
  height: 100%;
  font-size: 1em;
  position: relative;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  cursor: default;
  text-rendering: optimizelegibility;
  overflow-x: hidden;
  background-color: #B314E0;
}

.noise {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  position: fixed !important;
}

* {
  backface-visibility: hidden;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2 {
  font-size: 7.875em;
  letter-spacing: -2px;
}

h2 span {
  background-image: linear-gradient(transparent calc(65% - 5px), #b406e7 5px);
  background-size: 0px;
  background-repeat: no-repeat;
  display: inline;
  transition: all 0.5s ease 0s;
}

h2 span {
  background-size: 0%;
  transition: 0.5s ease all;
}

h2.visible span {
  background-size: 100%;
  transition: 1s ease all;
}

.section--container > .section > * {
  filter: blur(4px);
  transform: translateY(-200px);
  transition: 1s ease all;
  opacity: 0;
}

.section--container > .section.bounce > * {
  filter: blur(0);
  transform: translateY(0);
  transition: 1s ease all;
  opacity: 1;
}

.section-half.section-content.content-uglyboy img {
  display: block;
  width: auto;
  height: 50vh;
}

main.section--container {
  max-width: 1280px;
  padding-right: 2rem;
  margin: 0 auto;
  height: 100vh;
  padding-left: 2rem;
}

main.section--container > section:last-of-type {
  margin-bottom: 380px;
}

.content-intro {
  right: -100px;
  width: calc(100% + 100px);
}

body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  height: 0;
  width: 0;
}

header.header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  height: auto;
  width: 100vw;
  max-width: 100vw;
}

header.header > .col {
  margin: 0px auto;
  width: 100%;
  display: flex;
  padding: 20px 2rem;
}

header.header img {
  width: 3.9vw;
  height: auto;
  display: block;
}

.section--container > .section {
  min-height: calc(100vh - 10vw);
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5vw 0;
  justify-content: center;
}

.col-md-6 {
  max-width: 50%;
  flex-basis: 50%;
}

footer.footer {
  height: auto;
  background: #f44336;
  padding: 0px;
  border: none;
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  color: white;
  left: 0px;
  z-index: 10;
  max-width: 100vw;
  transition: all 0.25s ease 0s;
}

footer.footer {
  bottom: -380px;
  transition: all 0.25s ease 0s;
  padding: 0;
  display: flex;
  gap: 30px;
  padding-top: 40px;
  flex-direction: column;
  padding-bottom: 40px !important;
}

.footer--active {
  bottom: 0 !important;
}

footer.footer .footer--content {
  max-width: 1280px;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  height: 100%;
  flex-direction: row;
  width: 100%;
}

footer.footer .footer--content > .footer-content--section {
  max-width: 25%;
  flex-basis: 25%;
  align-items: flex-start;
  justify-content: center;
  display: inline-flex;
  flex-direction: column;
}

footer.footer canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  filter: blur(1rem);
  width: 100%;
  height: 100%;
}

.footer--content .footer-title {
  margin: 15px 0px 0px;
  font-size: 1em;
  font-weight: 700;
}

.footer--content .footer-copy,
.footer--content .footer-copy a {
  line-height: 1.5;
  margin: 5px 0px 0px;
  font-size: 1em;
  color: white;
}

section.section {
  height: 100vh;
  position: relative;
  flex-direction: column;
}

section.section .section--header {
  width: 100%;
}

section.section .content-intro {
  width: 100%;
  background-color: #2323fd;
  color: white;
  padding: 2rem;
}

.section--header {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.header-title {
  color: #f3f2f4;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  margin-bottom: 60px;
  margin-top: 0;
}

ul.content-skills {
  margin: 0px;
  padding: 0px;
  flex-flow: row wrap;
  justify-items: flex-start;
  align-content: space-between;
  display: inline-flex;
  gap: 12px;
  flex-basis: 100%;
  width: 100%;
}

ul.content-skills > li {
  margin: 0px;
  background: rgba(255, 255, 255, 0.19);
  list-style: none;
  padding: 30px 40px;
  flex: 1 1 auto;
}

ul.content-skills > li > ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

@media only screen and (max-width: 1024px) {
  .section--intro .intro-content {
    margin-left: 0;
    width: 75%;
  }
  .section--intro .intro-content p {
    margin-bottom: 0;
    font-size: 1;
  }
  .section--intro .text {
    font-size: 1.2rem;
  }
  .section--intro h1 {
    width: 100%;
    font-size: 2.3rem;
  }

  .section--experience .section--content {
    width: auto;
    margin-left: 0;
    grid-template-columns: repeat(2, 50%);
  }

  .section--container {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    max-width: 100%;
  }

  .section--container > .section {
    height: auto;
    padding: 4rem 2rem;
    max-width: 100%;
  }

  section.section.section--skills {
    max-width: 100%;
  }

  .footer .footer--title h3 {
    width: 88vw;
    font-size: 2.2rem;
  }

  .footer .footer--title h3 a {
    padding: 10px 0;
  }
}
.blur {
  transition: 1s ease all;
  filter: blur(3px);
  opacity: 0.1;
}

.site-notification {
  background: yellow;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: 0.4s ease all;
  width: calc(100vw - 4rem);
  max-height: 100px;
  padding: 2rem;
  z-index: 10;
  height: calc(100px - 4rem);
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.site-notification button {
  padding: 0.5rem 1rem;
  border: none;
  margin-left: 1rem;
  background: red;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 4px;
}
.site-notification.hide {
  bottom: -100px;
}

.section--content svg {
  width: 100%;
  max-width: 25%;
  height: auto;
  margin-bottom: 1.5rem;
}
.section--content svg path,
.section--content svg g {
  fill: #fff;
}

.skills-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skills-intro h2 {
  width: 60%;
}
.skills-intro p {
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.5;
  width: 33%;
  padding-top: 1rem;
}

.section--intro {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}
.section--intro .tag {
  align-items: center;
  color: #eee;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
  font-weight: 600;
}
.section--intro h1 {
  width: 88.88%;
  margin-top: 60px;
  color: #fff;
  font-size: 45px;
  line-height: 1.3;
  font-weight: 700;
  white-space: normal;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
}
.section--intro h1 > span {
  color: #ffe53b;
}
.section--intro .intro-content {
  margin-left: auto;
  width: 50%;
}
.section--intro .intro-content .text {
  color: #eee;
  margin: 40px 0;
  font-size: 1.01rem;
  line-height: 1.8;
}
.section--intro .intro-contact {
  position: absolute;
  border: 0;
  left: -4vw;
  width: 22vw;
  bottom: -3vw;
}
.section--intro .intro-contact a {
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: 600;
  text-decoration: none;
}

.section--experience {
  display: flex;
  flex-direction: row;
}
.section--experience .section--content {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 33%));
  justify-items: stretch;
  align-items: stretch;
  color: white;
  grid-row-gap: 40px;
  width: 100%;
}
.section--experience .section--content h3 {
  color: #fff;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
}
.section--experience .section--content a {
  color: #FFEB3B;
  letter-spacing: 0.86px;
  text-align: left;
  font-weight: bold;
  line-height: 18.48px;
  margin-bottom: 10px;
  display: block;
}
.section--experience .section--content p {
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.5;
}

.section--values {
  display: flex;
  flex-direction: row;
}
.section--values .header-title {
  max-width: 66.66%;
}
.section--values .section--content {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 33%));
  grid-column-gap: 60px;
  justify-items: stretch;
  align-items: stretch;
  color: white;
  grid-row-gap: 60px;
  max-width: 88.8%;
}
.section--values .section--content p {
  padding: 0;
  margin: 0;
}

.section--skills {
  display: flex;
  flex-direction: column;
}
.section--skills .section--content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
  width: 100%;
  max-width: 66.66%;
  gap: 60px;
}
.section--skills .section--content .lead {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  color: #ffffff;
  margin-bottom: 20px !important;
}
.section--skills .section--content > div {
  width: 100%;
  max-width: 50%;
}
.section--skills ul {
  padding: 0;
  list-style: none;
}
.section--skills ul li {
  padding-bottom: 13px;
  font-size: 0.85rem;
}

.section--proccess {
  display: flex;
  flex-direction: column;
}
.section--proccess h2.header-title {
  width: 88.88%;
}
.section--proccess .section--content {
  display: grid;
  grid-template-columns: repeat(4, auto);
  color: white;
  align-content: space-between;
  width: 100%;
  gap: 60px;
}
.section--proccess .section--content p {
  width: 88.88%;
  margin: 0;
}
.section--proccess .section--content .header-title {
  width: 66.61%;
}

.footer .footer--title h3 {
  margin: 0;
  font-size: 2.6rem;
  width: 66.6vw;
  padding: 0 2rem;
}
.footer .footer--title h3 a {
  color: white;
}

.section--works {
  display: flex;
  max-width: 88vw;
  flex-direction: column;
  margin-left: auto;
}
.section--works .section--content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
}
.section--works .section--content > div {
  width: 100%;
  max-width: 50%;
}
.section--works .section--content > div:first-of-type {
  margin-right: 120px;
}
.section--works .work-title {
  color: #eee;
  margin: 20px 0 20px 0;
  font-size: 22px;
  line-height: 1;
}

@-ms-keyframes grained {
  0% {
    -ms-transform: translate(-10%, 10%);
  }
  10% {
    -ms-transform: translate(-25%, 0%);
  }
  20% {
    -ms-transform: translate(-30%, 10%);
  }
  30% {
    -ms-transform: translate(-30%, 30%);
  }
  40% {
    -ms-transform: translate();
  }
  50% {
    -ms-transform: translate(-15%, 10%);
  }
  60% {
    -ms-transform: translate(-20%, 20%);
  }
  70% {
    -ms-transform: translate(-5%, 20%);
  }
  80% {
    -ms-transform: translate(-25%, 5%);
  }
  90% {
    -ms-transform: translate(-30%, 25%);
  }
  100% {
    -ms-transform: translate(-10%, 10%);
  }
}
@-webkit-keyframes grained {
  0% {
    -webkit-transform: translate(-10%, 10%);
  }
  10% {
    -webkit-transform: translate(-25%, 0%);
  }
  20% {
    -webkit-transform: translate(-30%, 10%);
  }
  30% {
    -webkit-transform: translate(-30%, 30%);
  }
  40% {
    -webkit-transform: translate();
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(-20%, 20%);
  }
  70% {
    -webkit-transform: translate(-5%, 20%);
  }
  80% {
    -webkit-transform: translate(-25%, 5%);
  }
  90% {
    -webkit-transform: translate(-30%, 25%);
  }
  100% {
    -webkit-transform: translate(-10%, 10%);
  }
}
@-o-keyframes grained {
  0% {
    -o-animation-transform: translate(-10%, 10%);
  }
  10% {
    -o-animation-transform: translate(-25%, 0%);
  }
  20% {
    -o-animation-transform: translate(-30%, 10%);
  }
  30% {
    -o-animation-transform: translate(-30%, 30%);
  }
  40% {
    -o-animation-transform: translate();
  }
  50% {
    -o-animation-transform: translate(-15%, 10%);
  }
  60% {
    -o-animation-transform: translate(-20%, 20%);
  }
  70% {
    -o-animation-transform: translate(-5%, 20%);
  }
  80% {
    -o-animation-transform: translate(-25%, 5%);
  }
  90% {
    -o-animation-transform: translate(-30%, 25%);
  }
  100% {
    -o-animation-transform: translate(-10%, 10%);
  }
}
@-moz-keyframes grained {
  0% {
    -moz-transform: translate(-10%, 10%);
  }
  10% {
    -moz-transform: translate(-25%, 0%);
  }
  20% {
    -moz-transform: translate(-30%, 10%);
  }
  30% {
    -moz-transform: translate(-30%, 30%);
  }
  40% {
    -moz-transform: translate();
  }
  50% {
    -moz-transform: translate(-15%, 10%);
  }
  60% {
    -moz-transform: translate(-20%, 20%);
  }
  70% {
    -moz-transform: translate(-5%, 20%);
  }
  80% {
    -moz-transform: translate(-25%, 5%);
  }
  90% {
    -moz-transform: translate(-30%, 25%);
  }
  100% {
    -moz-transform: translate(-10%, 10%);
  }
}
@keyframes grained {
  0% {
    transform: translate(-10%, 10%);
  }
  10% {
    transform: translate(-25%, 0%);
  }
  20% {
    transform: translate(-30%, 10%);
  }
  30% {
    transform: translate(-30%, 30%);
  }
  40% {
    transform: translate();
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(-20%, 20%);
  }
  70% {
    transform: translate(-5%, 20%);
  }
  80% {
    transform: translate(-25%, 5%);
  }
  90% {
    transform: translate(-30%, 25%);
  }
  100% {
    transform: translate(-10%, 10%);
  }
}
.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

.bounce + .bounce {
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */