@media only screen and (max-width: 1024px) {
    .section--intro {
        .intro-content {
            margin-left: 0;
            width: 75%;
        }

        .intro-content p {
            margin-bottom: 0;
            font-size: 1;
        }

        .text {
            font-size: 1.2rem;
        }

        h1 {
            width: 100%;
            font-size: 5.4vw;
        }

    }



    .section--values {
        .section--content {
            grid-template-columns: repeat(1, auto);
            grid-row-gap: 40px;
            max-width: 100%;
        }
    }



    // global
    .header-title {
        max-width: 100%;
        font-size: 2rem;
        min-width: 100%;
        letter-spacing: 0.01rem;
    }

    // global

    .section--experience .section--content {
        width: auto;
        margin-left: 0;
        grid-template-columns: repeat(2, auto);
    }

    .section--container {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }

    .section--container>.section {
        height: auto;
        padding: 10vw 0;
        max-width: 100%;
    }

    section.section.section--skills {
        max-width: 100%;
    }

    .footer .footer--title h3 {
        width: 88vw;
        font-size: 2.2rem;
    }

    .footer .footer--title h3 a {
        padding: 10px 0;
    }

    // skills
    .section--skills {
        .skills-intro {
            flex-direction: column;
        }

        h2 {
            min-width: 100%;
            margin-bottom: 40px;
        }

        p {
            width: 100%;
            padding: 0;
        }

        .section--content {
            flex-direction: column;
            width: 100%;
            margin-top: 40px;

            > p {
                min-width: 100%;
                max-width: 100%;
            }
        }
    }

    // skills
    // process
    .section--proccess {
        .section--content {
            grid-template-columns: repeat(2, auto);
        }
    }

    // process

    // footer
    .footer {
        bottom: -400px;
    }
    // footer
}