html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  height: 100%;
  width: 100%;
  color: #777777;
  background-color: #bfb9b9;
}

html {
  box-sizing: border-box;
  margin-right: 0px !important;
  overflow: visible !important;
}

body {
  overflow-x: hidden;
  overflow-y: scroll !important;
  box-sizing: border-box;
  webkit-transition: opacity 0.2s ease-in-out 0s;
  transition: opacity 0.2s ease-in-out 0s;
}

body.hidden {
  opacity: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, footer, header, hgroup, nav, section {
  display: block;
}

img {
  border: 0 none;
  max-width: 100%;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #000;
  margin-bottom: 10px;
}


h2 {
  font-size: 36px;
  line-height: 48px;
  margin-left: -1px;
}



.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}

.small .container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  margin-left: 0 !important;
  box-sizing: border-box;
  padding-left: 80px !important;
}

.container::after {
  clear: both;
  content: " ";
  display: table;
}

a:hover, a:active {
  outline: 0;
  color: #000;
}

a {
  text-decoration: none;
  -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
}

a {
  color: #000;
  outline: 0;
}

a.image-link {
  margin-bottom: 20vw;
  display: block !important;
}



.inner {
  display: table-cell;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  position: relative;
  z-index: 1;
}

.row_padding_top {
  padding-top: 120px;
}

.row_padding_bottom {
  padding-bottom: 100px;
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-overlay .animate-box-bottom {
  position: absolute;
  width: 100%;
  height: 101%;
  -webkit-transition: -webkit-transform .0s;
  transition: -webkit-transform .0s;
  transition: transform .0s;
  transition: transform .0s, -webkit-transform .0s;
  background-color: #000;
}

.page-overlay .animate-box-bottom {
  -webkit-transform: translateX(-101%);
  transform: translateX(-101%);
}

header {
  opacity: 1;
  width: 100%;
  height: 120px;
  left: 0;
  top: 0;
  position: fixed;
  box-sizing: border-box;
  z-index: 100;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}



#header-container {
  box-sizing: border-box;
  padding: 0 80px;
  height: 50px;
  margin: 35px auto;
  max-width: 100%;
  position: relative;
  width: 100%;
  z-index: 20;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#logo {
  position: relative;
  display: inline-block;
  pointer-events: auto;
  z-index: 10;
}

#logo a {
  display: block;
}


#hero {
  overflow: hidden;
  position: fixed;
  width: 100vw;
}

#hero-styles {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
}

#hero-bg-image {
  background-size: cover;
  position: fixed;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#grain-hero {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#hero-caption {
  display: table;
  width: 100%;
  padding: 0 80px;
  padding-top: 120px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  opacity: 0;
  box-sizing: border-box;
}

#hero-caption.animate {
  opacity: 1;
}

#hero-bg-image.animate {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.35s;
  transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.35s;
}

#hero-height {
  pointer-events: none;
  position: relative;
  width: 100vw;
  -webkit-transition: all 0.5s ease-in-out 0.9s;
  transition: all 0.5s ease-in-out 0.9s;
}

#hero, #hero-height, #hero-styles {
  height: 80vh;
}

.hero-title {
  font-size: 48px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #fff !important;
  position: relative;
  z-index: 10;
  line-height: 40px;
  max-width: 700px;
  margin-top: 20px;
  -webkit-transition: color 0.2s ease-in-out 0s !important;
  transition: color 0.2s ease-in-out 0s !important;
}

.hero-title span {
  display: inline-block;
  margin: 0 6px;
  line-height: 60px;
  height: 60px;
  overflow: hidden;
  padding-top: 60px;
  box-sizing: border-box;
}

.animate .hero-title span {
  padding-top: 0;
  -webkit-transition: padding 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.9s;
  transition: padding 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.9s;
}


#main {
  position: relative;
  z-index: 2;
}

#main-content {
  opacity: 1;
  position: relative;
}

footer {
  position: relative;
  padding: 70px 0 110px 0;
  width: 100%;
  height: auto;
  z-index: 2;
}



.footer-info {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 80px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1466px) {
/*   #page-action-holder {
    left: 15px;
  }

  #socials-holder {
    right: 35px;
  }
 */
  #hero-caption {
    width: 100%;
    padding: 0 75px;
  }

  footer {
    padding: 70px 0 100px 0;
  }

  .footer-info {
    padding: 0 80px;
  }

/*   .full .container {
    padding: 0 80px;
  } */
}

@media only screen and (max-width: 1024px) {
  #header-container {
    padding: 20px 0;
    margin: 0px auto;
  }

  #logo {
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
  }


  #hero, #hero-height, #hero-styles {
    height: 100vh;
  }

  #hero-caption {
    padding: 0 80px;
    padding-top: 30px;
  }

  .hero-title {
    font-size: 50px;
    line-height: 40px;
  }

  .hero-title span {
    line-height: 60px;
    height: 60px;
    margin: 0 5px;
    padding-top: 60px;
  }

  #hero-image {
    background: center center no-repeat scroll;
    background-size: cover !important;
  }

  .full .container {
    padding: 0 50px;
  }

  footer {
    padding: 0 0 100px 0;
  }

  #page-action-holder {
    bottom: 190px;
  }


  .footer-info {
  }

  .row_padding_bottom {
    padding-bottom: 80px;
  }

  .row_padding_top {
    padding-top: 100px;
  }
}


footer * {
  color: #fff;
  display: block;

}
